.container {  
  background-color: #EE4D64;
  width: 100%;
  height: 100%;
  
}
.content {
  margin-top: 100px;
  margin: 0 auto 0;
  max-height: 448px;
  max-width: 360px;
  width: 100%;
  background: #FFF;  
  border-radius: 4px;
  padding: 30px;
}
.content form {
  display: flex;
  flex-direction: column;
}
.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}
.content form label {
  font-weight: bold;  
  font-size: 14px;
}
.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height:45px;
  padding: 0 15px;
  font-size: 16px;
}
.content button.btn {
  border: 0;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #EE4D64;
  color: #FFF;
  cursor: pointer;
  border-radius: 4px;
}
.logo {         
  height: 100%;
  width: 100%;  
  margin-bottom: 20px;
}
.logoLeft {  
  max-width: 60px;
  max-height: 50px;   
}
.logoRight {  
  max-width: 60px;
  max-height: 50px; 
  margin-left: -12px;  
}
.logoPaint {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logoWrite strong {
  font-weight: bold;
  font-size: 30px;
  color: #EE4D64;
  display: flex;
  justify-content: center;
}
.dotLeft {  
  width: 2px;
  border: solid 2px #EE4D64;
  border-radius: 50%;
  position: absolute;
  margin-left: -16px;
}
.dotRight {  
  width: 2px;
  border: solid 2px #EE4D64;
  border-radius: 50%;
  position: absolute;
  margin-left: 16px;
}
